body {
  margin: 0;
  padding: 0;
  font-family:  'Courier New', Courier, monospace ;
  background: rgba(255,93,177,1);
  background: -moz-linear-gradient(-45deg, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,93,177,1)), color-stop(100%, rgba(239,1,124,1)));
  background: -webkit-linear-gradient(-45deg, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
  background: linear-gradient(135deg, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c', GradientType=1 );

}
